<!doctype html>
<html lang="en">
<!-- Mirrored from irsfoundation.com/tf/html/erudition-preview/erudition/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Sep 2021 17:58:43 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Quick-Pack - Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="~/assets/HomePage/img/icon/favicon.ico">
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <link rel="stylesheet" href="~/assets/HomePage/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/HomePage/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/HomePage/css/icofont.css">
    <link rel="stylesheet" href="~/assets/HomePage/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/HomePage/css/slicknav.min.css">
    <link rel="stylesheet" href="~/assets/HomePage/css/zoomslider.css">
    <link rel="stylesheet" href="~/assets/HomePage/css/typography.css">
    <link rel="stylesheet" href="~/assets/HomePage/css/default-css.css">
    <link rel="stylesheet" href="~/assets/HomePage/css/styles.css">
    <link rel="stylesheet" href="~/assets/HomePage/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/assets/HomePage/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <img src="~/assets/HomePage/img/icon/loader.gif" alt="loading">
    </div>
    <!-- prealoader area end -->
    <!-- header area start -->
    <header id="header">
        <!-- header bottom area start -->
        <div class="header-bottom">
            <div class="hb-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-2 col-sm-6">
                            <div class="logo">
                                <a href="/"><img src="~/assets/HomePage/img/icon/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="main-menu">
                                <nav id="nav_mobile_menu">
                                    <ul>
                                        <li class="active"><a href="/">Home</a></li>
                                        <li><a href="about.html">about</a></li>
                                        <li>
                                            <a href="javascript:void(0)">courses</a>
                                            <ul class="submenu">
                                                <li><a href="courses.html">courses</a></li>
                                                <li><a href="course-list.html">course-list</a></li>
                                                <li><a href="course-details.html">course-details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">pages</a>
                                            <ul class="submenu">
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">blog</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="blog-two-column.html">blog-two-column</a></li>
                                                <li><a href="blog-details.html">blog-details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-5 col-sm-5">
                            <div class="htp-register-btn">
                                <a href="/Authentication/Register">Registration</a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-5 col-sm-5">
                            <div class="htp-register-btn">
                                <a href="#" type="button" data-toggle="modal" data-target="#loginModal">Login</a>
                            </div>
                        </div>
                        <div class="col-12 d-block d-lg-none">
                            <div id="mobile_menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header bottom area end -->
    </header>
    <!-- header area end -->
    @RenderBody()
    <!-- footer area start -->
    <footer>
        <div class="footer-top ptb--100">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="fwidget about-company">
                            <a href="index.html"><img src="~/assets/HomePage/img/icon/foter-logo.png" alt="logo"></a>
                            <p>Expound the actual teachings of the great explorer of the truth master human happin ess one rejects dislikes avoids pleasure </p>
                            <ul class="htp-social">
                                <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="fwidget important-link">
                            <h2>Important Link</h2>
                            <ul>
                                <li><a href="#"><i class="icofont icofont-long-arrow-right"></i>Themeforest</a></li>
                                <li><a href="#"><i class="icofont icofont-long-arrow-right"></i>Graphicriver</a></li>
                                <li><a href="#"><i class="icofont icofont-long-arrow-right"></i>Audiojungle</a></li>
                                <li><a href="#"><i class="icofont icofont-long-arrow-right"></i>Videoarchive</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="fwidget footer-map">
                            <div id="google-map"></div>
                            <div class="footer-contact">
                                <ul>
                                    <li><span><i class="icofont icofont-phone"></i></span><p>00 965 - 864 - 938 <br>00 856 - 837 - 394</p></li>
                                    <li><span><i class="icofont icofont-location-pin"></i></span><p>71 Pilgrim Avenue <br>Chevy Chase, MD 20815</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p>Copyright&copy;Erudion, All right reserved</p>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-title text-center">
                        <h2 style="color: #ffb606; font-weight: 600;">LOGIN</h2>
                    </div>
                    <div class="d-flex flex-column text-center mt-20">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="contact-r-thumb">
                                    <img src="~/assets/HomePage/img/bg/contact-right-thumb.png" alt="image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="wpcf7">
                                    <div class="screen-reader-response"></div>
                                    <form action="" method="post" id="default_contact_form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="text-left" style="color: #ffb606">Email</label>
                                                <input type="email" name="c_email" id="c_email" placeholder="Email">
                                            </div>
                                            <div class="col-md-12">
                                                <label class="text-left" style="color: #ffb606">Password</label>
                                                <input type="password" name="password" id="password" placeholder="Password">
                                            </div>
                                        </div>
                                        <input type="submit" value="Login" id="c_submit">
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="signup-section">Not a member yet? <a href="#a" class="text-info"> Sign Up</a>.</div>
                </div>
            </div>
        </div>
    </div>



    <!-- jquery latest version -->
    <script src="~/assets/HomePage/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/assets/HomePage/js/bootstrap.min.js"></script>
    <!-- others plugins -->
    <script src="~/assets/HomePage/js/owl.carousel.min.js"></script>
    <script src="~/assets/HomePage/js/nice-select-plugin.js"></script>
    <script src="~/assets/HomePage/js/jquery.slicknav.min.js"></script>
    <script src="~/assets/HomePage/js/jquery.zoomslider.min.js"></script>
    <script src="~/assets/HomePage/js/countdown.js"></script>
    <!-- google map API -->
    <script src="~/assets/HomePage/js/scripts.js"></script>

    <script>

    </script>
</body>


<!-- Mirrored from irsfoundation.com/tf/html/erudition-preview/erudition/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Sep 2021 17:59:41 GMT -->
</html>